{% extends 'base.html' %}

{% block title %}Contact{% endblock title %}

{% block body %}
  <div class="container-fluid px-0 mb-3">
    <img src="static/contact.png" class="d-block w-100 mx-0" alt="contact.jpeg">
  </div>

  <div class="container mb-3 py-4">
      <h1 class="text-center">Contact Us</h1>

      <form onsubmit="submitLoginForm(event)" method="post" action="/contact">
        {% csrf_token %}

          <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" name="name" placeholder="Enter your Name">
          </div><br>

          <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email">
          </div><br>
          
          <div class="form-group">
              <label for="phone">Phone Number</label>
              <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter Your Phone Number">
          </div><br>
          
          <div class="form-group">
              <label name="desc" for="desc">Tell me about what you want to contact me for...</label>
              <textarea class="form-control" id="desc" rows="3" name="desc"></textarea>
          </div><br>
          
          <button class="btn btn-primary" type="submit">Submit</button>
      </form>

      <script src="static/contact.js"></script>
  </div>
{% endblock body %}